@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom,#faf8f6 0%,#faf8f6 70%,#f3ede7 30%,#f3ede7 100%);
  font-family: "Epilogue";
}

main {
  margin: 20px auto;
  width: 100%;
  max-width: 85%;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

#btn1 {
  padding: 0.8rem 2rem;
  border-radius: 5px;
  background-color: #faf8f6;
  cursor: pointer;
}

#btn1:hover {
  color: #faf8f6;
  background-color: #1b2944;
}

section {
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
}

#sol {
  width: 40rem;
  font-size: 72px;
  line-height: 78px;
  letter-spacing: -1px;
}

#marketing {
  width: 22rem;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.2px;
  padding: 30px 0;
  color: #49566d;
}

.hero {
  position: relative;
  right: 11rem;
  bottom: 3rem;
  z-index: -1;
}

#path {
  position: relative;
  left: 19rem;
}

#btn2 {
  padding: 0.8rem 2rem;
  border-radius: 5px;
  border: none;
  background-color: #1b2944;
  color: #faf8f6;
  cursor: pointer;
}

#btn2:hover {
  background: linear-gradient(to right, #a060ff, #cb30e3, #ffa84e);
}

.features {
  padding: 40px 0;
}

.companies,.languages { margin-bottom: 2rem;}

.features h2 {
  font-size: 48px;
  line-height: 56px;
  position: relative;
  right: 5rem;
}

.features p {
  color: #49566d;
  position: relative;
  right: 5rem; 
}

article {
    height:89.5vh;
  background-color: #1b2944;
  background-image: url("assets/pattern-blur.svg");
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  color: #faf8f6;
}

.jeremy img {
  padding: 0 120px;
  position: relative;
  bottom: 3rem;
}

.its-work {
  width: 50%;
  font-size: 18px;
  line-height: 32px;
}

#work {
  margin: 5rem 0 2.5rem;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.2px;
}

#text {
  width: 20rem;
  margin: 3rem 0;
}

.pattern {
  position: relative;
  top: 10rem;
  right: 4rem;
}

footer {
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin: 5% auto;
  color: #49566d;
  font-size: 15px;
  line-height: 24px;
}

.fa {
  color: #1b2944;
  padding: 3px 10px;
  text-decoration: none;
  cursor: pointer;
}

.fa:hover {
  opacity: 0.8;
}

.fa-facebook {
  background: #1b2944;
  color: #ffffff;
}

/* Media Queries  for tablet */
@media (min-width: 600px) and (max-width: 899px) {

  section {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    margin-bottom: 10rem;
  }

  #sol {
    font-size: 48px;
    line-height: 56px;
    width: 27rem;
  }

  #path {
    left: 12rem;
    width: 45%;
  }

  .features {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-column: 1/-1;
    grid-row: 2;
    text-align: center;
  }

  .hero {
    position: relative;
    right: 5rem;
    width: 100%
  }
  article {
    height: auto;
    display: flex;
    background-image: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  
  }
  .jeremy {
    width: 100%;
    position: relative;
    bottom: 15rem;
    margin-bottom: 2%;
  }
  .pattern{
    position: relative;
    left: -5%;
  }
  .its-work {
    width: 100%;
    margin: 0 auto;
    position: unset;
    text-align: center;
    position: relative;
    bottom: 19rem;
    margin-bottom: -15rem;
  }

  #text {
position: relative;
right: -3rem;
    width: 35rem;
  }

  .pattern {
    position: relative;
    top: -18rem;
  }
}
/* Media Queries for mobile */
@media (max-width: 599px) {

 section {
  width: 100%;
  height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    grid-template-rows: auto;
    gap: 5rem;
    margin-bottom: 10rem;
  }

   #sol {
    font-size: 48px;
    line-height: 56px;
    width: 27rem;
  }
   #path {
    left: 12rem;
    width: 45%;
  }
  #marketing{
    width: 23rem;
  }
  .hero,.features{
    position: relative;
    left: 1rem;
  }
.features{
    position: relative;
    left: 3rem;
  width: 100%;
  align-items: center;
  text-align: center;
  grid-column: 2/-2;
  grid-column: 1;
}


  article {
    background-color: #1b2944;
    background-image: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    color: #faf8f6;
    padding: 20px;
    text-align: center;
    /* margin-top: 20px; */
  }

  .jeremy img {
    padding: 0;
    width: 80%;
 position: relative;
top: -15rem;
}

  .its-work {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
      margin: 0 auto;
    position: unset;
    /* text-align: center; */
    position: relative;
    bottom: 19rem;
    margin-bottom: -15rem;
  }

  #work {
    margin: 2rem 0 1rem;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.2px;
  }

  #text {
    width: 80%;
    position:relative;
    left: 2rem;
  }

  .pattern {
    position: relative;
    top: -15rem;
    left: 1%;
  
  }

  footer {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5% auto;
    color: #49566d;
    font-size: 15px;
    line-height: 24px;
  }

  .fa {
    color: #1b2944;
    padding: 3px 10px;
    text-decoration: none;
    cursor: pointer;
  }

  .fa:hover {
    opacity: 0.8;
  }

  .fa-facebook {
    background: #1b2944;
    color: #ffffff;
  }
}
   
